
.search {
    width: 100%;
    height: 100vh;
}
.search--input {
    margin: 10px auto 0;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
}
.search--text {
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

.ui.input>input {
    text-align: center;
}

.search__container {
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}



